
html, body{
    align-items: center;
}

.container{
display:flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

.container-item {
    margin:10px;
}

.box{
   
    width: 50%;
    float: left;
}

h1 {
    text-align: center;
}

img {
    float: left;
    padding: 5px;
}

#result{
    display:none;
}
